 <div class="category_form">
  <%= form_with(model: category, class: "form") do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
  
        <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="formitem">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="formitem">
      <%= form.label "Image", style: "display: block" %>
      <%= form.file_field :image %>
    </div>
    
    <div class="greenbuttondiv">
      <%= form.submit "Add category", :class => "greenbutton formbutton" %>
    </div>
    
  <% end %>